.carousel-section {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.carousel-inner {
  max-height: 80vh;
}

.carousel-item img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}
